footer {
    position: absolute;
    text-align: center;
    font-size: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 1024px) and (max-width: 1600px) {
    footer {
        font-size: 22px;
    }
}

@media (max-width: 760px) {
    footer {
        position: relative;
        margin-top: 40px;
    }
}
