$light: #eeeeee;

section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2ch;
    text-align: center;
    margin: 0;
    position: relative;

    number {
        display: inline-block;
    }

    .poster {
        width: 12vw;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
    }

    .poster:hover {
        border: 3px solid;
        transform: scale(1.1);
    }

    .title {
        font-size: 16px;
    }

    .popularity {
        font-size: 20px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;

        .vote {
            top: 10px;
            position: relative;
            text-align: center;
            font-size: 25px;
        }

        svg {
            top: 10px;
            position: relative;
            width: 30px;
            margin-right: 5px;
        }
    }
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.9);
    z-index: 9;
    transition: all 0.2s ease-in-out;

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0,40px,0)
        }
    
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }

    .movie-info {
        display: block;
        justify-content: center;
        margin: 0 15vw;
        margin-top: 20vh;
        height: 20%;
        animation: fadeInUp 1s;

        h2 {
            font-size: 30px;
            text-decoration: underline;
            text-underline-offset: 10px;
            color: $light;
        }

        .text-info {
            color: $light;
            font-size: 18px;
        }

        .poster-info {
            width: 12vw;
            border-radius: 20px;
        }

        .backdrop-info {
            width: 20vw;
            border-radius: 20px;
            margin-top: 15px;
        }
    }
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181818;
    display: grid;
    place-items: center;
}

.loader {
    border: 16px solid #e3e3e3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
