$lightBlue: '#348ca2';

section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2ch;
    text-align: center;
    margin: 0;
    position: relative;

    number {
        display: inline-block;
    }
    

    img {
        width: 12vw;
        border-radius: 20px;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        box-sizing: border-box;
    }

    img:hover {
        border: 5px solid;
        transform: scale(1.09);
    }

    .title {
        font-size: 16px;
    }

    .popularity {
        font-size: 20px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .vote {
            top: 10px;
            position: relative;
            text-align: center;
            font-size: 25px;
        }
    
        svg {
            top: 10px;
            position: relative;
            width: 30px;
            margin-right: 5px;
        }
    } 
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181818;
    display: grid;
    place-items: center;
}

.loader {
    border: 16px solid #e3e3e3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
