#root {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

section {
    margin-top: 5ch;
}

nav ul li {
    display: inline-flex;
    list-style: none;
    margin-right: 2rem;
}

.value {
    font-size: 30px;
    color: #298096;
}

/* .value:hover {
    color: #EEEEEE;
} */