#root {
    text-align: center;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
}

header {
    margin-top: 20px;
}

ul {
    display: flex;
    list-style: none;
    button {
        padding: 20px;
        margin-top: 20px;
    }
}




