#root {
    display: grid;
    justify-content: center;
}

::-webkit-scrollbar {
    background-color: #424242;
    border-radius: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #777777;
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #348ca2;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-flex;
    list-style: none;
    margin-right: 2rem;
}

.value {
    font-size: 30px;
}

@media (min-width: 1024px) and (max-width: 1600px) {
    .value {
        font-size: 28px;
    }
}

.active {
    background-color: #348ca2;
    padding-top: 3.8px;
    padding-bottom: 3.8px;
    border-radius: 5px;
}

.arrow:hover {
    background-color: #348ca2;
}